---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}

<!-- Add Thesis section manually -->
<h2>Thesis</h2><hr />
<p>
  Khatua, D. P. (2022). <i>Ultrafast Photoexcited Carrier Dynamics in Two-Dimensional Molybdenum Disulfide</i>.<br />
  Ph.D. thesis, Homi Bhabha National Institute (HBNI), Raja Ramanna Centre for Advanced Technology (RRCAT), India.<br />
  <a href="http://www.hbni.ac.in/phdthesis/phys/PHYS03201704013.pdf" target="_blank">View Thesis</a>
</p>

<p><strong>Recommended Citation:</strong><br />
Khatua, D. P. (2022). <i>Ultrafast Photoexcited Carrier Dynamics in Two-Dimensional Molybdenum Disulfide</i>. Ph.D. Thesis, HBNI–RRCAT, India. Available at: 
<a href="http://www.hbni.ac.in/phdthesis/phys/PHYS03201704013.pdf" target="_blank">http://www.hbni.ac.in/phdthesis/phys/PHYS03201704013.pdf</a>
</p>
